logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
bin/*
.target/*
.worksheet/*
/.target/
/bin/
toast-logs.log
/app/assets/libs/*
/app/assets/build/
/app/assets/node_modules/*
/app/assets/bower_components/*
/bower_components/*
/node_modules/*