 <div id="adminAddUser" class="container-fluid" style="overflow: hidden;">
   <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-user-plus fa-fw"></i> Add user account
      </h3>
    </div>
    <div class="panel-body">
     <form name="userForm" class="form-horizontal" ng-submit="createNewUser()" novalidate>

       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-user fa-fw"></i> Personal Information
          </h3>
        </div>
        <div class="panel-body">
         <div class="form-group" ng-class="{'has-error' : userForm.login.$error.required  && (userForm.login.$dirty || isNewUserFormSubmitted) || (userForm.login.$invalid && userForm.login.$touched)}">
          <label for="login" class="col-sm-2 control-label">login</label>
          <div class="col-sm-10">
            <input name="login" ng-model="newUser.login" class="form-control" id="login" placeholder="login" username required ng-minlength="5">
              <div ng-if="(userForm.login.$invalid && userForm.login.$touched)" class="alert alert-danger field-error-alert" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                      Login length sould be at least 5!
              </div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : userForm.firstname.$error.required  && (userForm.firstname.$dirty  || isNewUserFormSubmitted) }">
          <label for="firstname" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-10">
            <input  name="firstname" ng-model="newUser.firstname" class="form-control" id="firstname" placeholder="First Name" required>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : userForm.lastname.$error.required  && (userForm.lastname.$dirty  || isNewUserFormSubmitted) }">
          <label for="lastname" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <input  name="lastname" ng-model="newUser.lastname" class="form-control" id="lastname" placeholder="Last Name"required>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-envelope-o fa-fw"></i> Contact
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group" ng-class="{'has-error' : (userForm.email.$dirty || isNewUserFormSubmitted)  && (userForm.email.$error.required || (userForm.email.$invalid && userForm.email.$touched))  }">
          <label for="inputEmail" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input name="email" ng-model="newUser.email" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
              <div ng-if="(userForm.email.$invalid && userForm.email.$touched)" class="alert alert-danger field-error-alert" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                      Enter a valid email address
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-cog fa-fw"></i> Permissions
        </h3>
      </div>
      <div class="panel-body">
              <div class="form-group">
          <label for="teams" class="col-sm-2 control-label">Teams</label>
          <div class="col-sm-10">
            <tags-input ng-model="teams" add-on-paste="true" style="height:15px;">
      <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
          </div>
      </div>
    </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-key fa-fw"></i> Security Settings
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group" ng-class="{'has-error' : (userForm.newPassword.$error.required && (userForm.newPassword.$dirty || isNewUserFormSubmitted))  || (userForm.newPassword.$invalid && userForm.newPassword.$touched)}">
          <label for="newPassword" class="col-sm-2 control-label">Enter Password</label>
          <div class="col-sm-6">
            <input name="newPassword" ng-model="newUser.newPassword" class="form-control" id="newPassword" placeholder="Password" required minLength="8">
            <div ng-if="(userForm.newPassword.$invalid && userForm.newPassword.$touched)" class="alert alert-danger field-error-alert" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                      Password length sould be at least 8!
            </div>
          </div>
          <div>
            <div class="btn btn-default" ng-click="generatePassword()">
              <i class="fa fa-random"></i> Generate
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : (userForm.newPassword1.$error.required  && (userForm.newPassword1.$dirty || isNewUserFormSubmitted)) ||  userForm.newPassword1.$error.validConfirm }">
          <label for="newPassword1" class="col-sm-2 control-label">Re-enter Password</label>
          <div class="col-sm-6">
            <input  name="newPassword1" ng-model="newUser.newPassword1" ng-blur="validatePassword()" class="form-control" id="newPassword1" placeholder="Password" required>
            <div ng-if="userForm.newPassword1.$error.validConfirm" class="alert alert-danger field-error-alert" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                     Passwords do not match!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-default pull-right">Create Account</button>
      </div>
    </div>
  </form>

</div>
</div>
</div>
