 <div class="container-fluid" style="overflow: hidden;">
   <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-user-plus fa-fw"></i> Add user account
      </h3>
    </div>
    <div class="panel-body">
     <form name="userForm" class="form-horizontal" ng-submit="createNewUser()" novalidate>

       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-user fa-fw"></i> Personal Information
          </h3>
        </div>
        <div class="panel-body">
         <div class="form-group" ng-class="{'has-error' : userForm.login.$error.required  && userForm.login.$dirty}">
          <label for="login" class="col-sm-2 control-label">login</label>
          <div class="col-sm-10">
            <input name="login" ng-model="newUser.login" class="form-control" id="login" placeholder="login" username required pattern=".{5,}" >
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : userForm.firstname.$error.required  && userForm.firstname.$dirty}">
          <label for="firstname" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-10">
            <input  name="firstname" ng-model="newUser.firstname" class="form-control" id="firstname" placeholder="First Name" required>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : userForm.lastname.$error.required  && userForm.lastname.$dirty}">
          <label for="lastname" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <input  name="lastname" ng-model="newUser.lastname" class="form-control" id="lastname" placeholder="Last Name"required>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-envelope-o fa-fw"></i> Contact
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group" ng-class="{'has-error' : userForm.email.$error.required  && userForm.email.$dirty}">
          <label for="inputEmail" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input name="email" ng-model="newUser.email" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-cog fa-fw"></i> Permissions
        </h3>
      </div>
      <div class="panel-body">
              <div class="form-group">
          <label for="teams" class="col-sm-2 control-label">Teams</label>
          <div class="col-sm-10">
            <tags-input ng-model="teams" add-on-paste="true" style="height:15px;">
      <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
          </div>
      </div>
    </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-key fa-fw"></i> Security Settings
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group" ng-class="{'has-error' : userForm.newpassword.$error.required  && userForm.newpassword.$dirty}">
          <label for="newPassword" class="col-sm-2 control-label">Enter Password</label>
          <div class="col-sm-6">
            <input name="newpassword" ng-model="newUser.newpassword" class="form-control" id="newPassword" placeholder="Password" required>
          </div>
          <div>
            <div class="btn btn-default" ng-click="generatePassword()">
              <i class="fa fa-random"></i> Generate
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : userForm.newpassword1.$error.required  && userForm.newpassword1.$dirty}">
          <label for="newPassword1" class="col-sm-2 control-label">Re-enter Password</label>
          <div class="col-sm-6">
            <input  name="newpassword1" ng-model="newUser.newpassword1" class="form-control" id="newPassword1" placeholder="Password" required>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-default pull-right">Create Account</button>
      </div>
    </div>
  </form>

</div>
</div>
</div>
</div>