<div id="adminAddUser" class="container-fluid" style="overflow: hidden;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Edit user account
            </h3>
        </div>
        <div class="panel-body">
            <form name="userForm" class="form-horizontal" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-user fa-fw"></i> Personal Information
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{'has-error' :  (userForm.login.$dirty || isNewUserFormSubmitted) && (userForm.login.$error.required  || (userForm.login.$invalid && userForm.login.$touched))}">
                            <label for="login" class="col-sm-2 control-label">login</label>
                            <div class="col-sm-10">
                                <input name="login" ng-model="user.login" class="form-control" id="login" placeholder="login" required ng-minlength="5" disabled>
                                <div ng-if=" (userForm.login.$dirty || isNewUserFormSubmitted) && (userForm.login.$invalid && userForm.login.$touched) && !userForm.login.$error.login" class="alert alert-danger field-error-alert" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    Login length sould be at least 5!
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : userForm.firstName.$error.required  && (userForm.firstName.$dirty  || isNewUserFormSubmitted) }">
                            <label for="firstName" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input  name="firstName" ng-model="user.firstName" class="form-control" id="firstName" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : userForm.lastName.$error.required  && (userForm.lastName.$dirty  || isNewUserFormSubmitted) }">
                            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input  name="lastName" ng-model="user.lastName" class="form-control" id="lastName" placeholder="Last Name"required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-sm-2 control-label">REST API Token</label>
                            <div class="col-sm-10">
                                <input  name="token" ng-model="user.token" class="form-control" id="token" placeholder="User Token" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-envelope-o fa-fw"></i> Contact
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{'has-error' : (userForm.email.$dirty || isNewUserFormSubmitted)  && (userForm.email.$error.required || (userForm.email.$invalid && userForm.email.$touched))  }">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input name="email" ng-model="user.email" type="email" class="form-control" id="inputEmail" placeholder="Email" required disabled>
                                <span ng-show="userForm.email.$pending.email">Checking if this name is available...</span>
                                <div ng-if="(userForm.email.$dirty || isNewUserFormSubmitted) && (userForm.email.$invalid && userForm.email.$touched) && !userForm.email.$error.email" class="alert alert-danger field-error-alert" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    Enter a valid email address
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-cog fa-fw"></i> Permissions
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="teams" class="col-sm-2 control-label">Teams</label>
                            <div class="col-sm-10">
                                <span ng-if="user.isAdmin !== true">
                                    <ul ng-repeat="team in user.teams">
                                        <li>
                                            {{team.name}}: {{team.description}}
                                        </li>
                                    </ul>

                                </span>
                                <tags-input ng-if="user.isAdmin === true" ng-model="user.teams" style="height:15px;" display-property="name" add-from-autocomplete-only="true">
                                    <auto-complete source="loadTeams()" load-on-down-arrow="true"></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" ng-if="user.isAdmin === true" class="btn btn-default pull-right" ng-click="saveUser()">Save Account</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
