 <div class="container-fluid" style="overflow: hidden;">
 	<div class="row" style="width:{{effectContentWidth}}px; height:99%; overflow: hidden;">
 		<div webix-ui id="contentWebixLayout"> <!--layout rows with type "space" are created-->
 			<div height="51" >
 				<h3 class="page-header" >
 					<i class="fa fa-fw fa-terminal "></i> Test Campaign <small> reports</small>
 				</h3>
 			</div>
 			<div view="cols"> <!--Webix layout cols are initialized-->
 				<div width="280"> 
 					<div class="panel panel-default">
 						<div class="panel-heading">
 							<div class="panel-title">
 								<h3 class="panel-title">
 									<i class="fa fa-folder-open"></i>
 									Projects
 									<button class="btn btn-primary btn-xs  pull-right" style="margin: -5px;" data-ng-click="addProjectBlock()">+ Add a new project </button>
 								</h3>
 							</div>
 						</div>
 						<div class="panel-body" style="height: 85%; overflow: auto;">
 							<div ui-tree data-drag-enabled="false">
 								<ol ui-tree-nodes="" class="list-group" ng-model="projects">
 									<li class="list-group-item" ng-class="{'active' : selectedProject === project}" ng-repeat="project in projects" ui-tree-node>
 										<div ng-click="selectProject(project)">
 											<span class="project-title">
 												{{project.name}}                             </span>
 											</div>
 										</li>
 									</ol>
 								</div>
 							</div>
 						</div>
 					</div>
 					<div view="resizer"></div>
 					<div view="cols">
 					<div ng-show="selectedProject != undefined">
 						<h4 style="border-bottom: 1px solid #ccc; padding-bottom: 13px;" >
 							<input type="text" ng-model="selectedProject.name">
 						</h4>

 						    <tabset active="activeForm">
      <tab index="0" heading="Campaigns">
       						<div class="" style="border: #ccc solid 1px; border-top: none;">
 							<div class="panel panel-default" style="margin-bottom: 11px;">
 								<div class="panel-heading" style="padding: 3px;" role="tab" id="headingOne">
 									<h4 class="panel-title" style="font-size:14px;">
 										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
 											Add campaign :
 										</a>
 									</h4>
 								</div>
 								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
 									<div class="panel-body">
 										<div>
 											<button class="btn btn-primary btn-xs" data-ng-click="addCampaignToProject(project)">
 												+ Add a new campaign
 											</button>
 											<button class="btn btn-xs" data-ng-click="saveProject(project)">
 												Save
 											</button>
 										</div>
 									</div>
 								</div>
 							</div>

 							<div ng-repeat="campaign in selectedProject.campaigns" class="campaign">


 								<div class="panel panel-default" style="margin-bottom: 11px;">
 									<div class="panel-heading" style="padding: 3px;" role="tab" id="headingOne">  				Campaign name: <input type="text" ng-model="campaign.name"> 
 										<span>
 											<button class="btn btn-primary btn-xs" data-ng-click="addScenarioToCampaign(campaign)">
 												+ Add a new scenario
 											</button>
 										</span>
 										<button class="btn btn-xs pull-right" data-ng-click="deleteCampaign(campaign, selectedProject)"><i class="fa fa-trash"></i></button> 
 									</div>
 									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
 										<div class="panel-body">
 											<div>
 												<ul ui-sortable ng-model="campaign.scenarii">
 													<li ng-repeat="scenario in campaign.scenarii">
 														Scenario Name:
 														<select ng-model="scenario.name" ng-options="reference.name as reference.name for reference in scenarii"/>
 														<button class="btn btn-xs" data-ng-click="deleteScenario(scenario, campaign)">
 															<i class="fa fa-trash"></i>
 														</button>
 													</li>
 												</ul>
 											</div>
 										</div>
 									</div>
 								</div>
 							</div>
 						</div>
 						<!-- /.panel -->
      </tab>
      <tab index="1" heading="Reports">
        <button class="btn btn-primary btn-xs" data-ng-click="displayReport(project)">See Report</button>
      </tab>

    </tabset>
 					</div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
        <!-- /.container-fluid -->