 <div class="container-fluid" style="overflow: hidden;">
 	<div class="row" style="width:{{effectContentWidth}}px; height:94%; overflow: hidden;">
 		<div webix-ui id="contentWebixLayout"> <!--layout rows with type "space" are created-->
 			<div height="51" >
 				<h3 class="page-header" >
 					<i class="fa fa-fw fa-terminal "></i> Test Campaign <small> reports</small>
 				</h3>
 			</div>
 			<div view="cols"> <!--Webix layout cols are initialized-->
 				<div width="280"> 
 					<div class="panel panel-default">
 						<div class="panel-heading">
 							<div class="panel-title">
 								<h3 class="panel-title">
 									<i class="fa fa-folder-open"></i>
 									Reports
 									<!--<button class="btn btn-primary btn-xs  pull-right" style="margin: -5px;" data-ng-click="addProjectBlock()">+</button>-->

 								</h3>
 							</div>
 						</div>
 						<div class="panel-body" style="height: 85%; overflow: auto;">
 							<div ui-tree data-drag-enabled="false">
 								<ol ui-tree-nodes="" class="list-group" ng-model="projects">
 									<li class="list-group-item" ng-class="{'active' : selectedProject === project}" ng-repeat="project in projects" ui-tree-node>
 											<div ng-click="selectProject(project)">
	 											<span class="project-title">
	 												{{project.name}}                             
	 											</span>
 											</div>
 										</li>
 									</ol>
 								</div>
 							</div>
 						</div>
 					</div>
 					<div view="resizer"></div>
 					<div view="cols">
 					<div ng-show="selectedProject != undefined">
                        <iframe src="{{reportUrl}}" style="width: 100%; height: 95%;"></iframe>
 					</div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
        <!-- /.container-fluid -->