<div id="resizable-content" style="width:{{effectContentWidth}}px; height:94%; overflow: hidden;">
    <div>
    <div id="page-header" height="51" >
        <h3 class="page-header" >
            <i class="fa fa-fw fa-pencil-square-o"></i>  Scenario Edition -
            <small> Test scripts
                <span ng-if="currentPath.length>0" style="background-color: #ccc; padding: 2px;">
                    <span ng-repeat="pathstep in currentPath">/<a ng-click="selectNode(pathstep)">{{pathstep.name}}</a></span>
                </span>
            </small>
        </h3>
    </div>
    <main>
        <section id="one" resizable r-directions="['right']" r-flex="true">
            <div ng-include="'assets/html/scenario/explorer/scenario.explorer.html'"></div>
        </section>
        <section id="two">
            <div ng-show="folder != undefined" ng-include="'assets/html/scenario/content/folder.content.html'"></div>
            <div ng-show="scenario != undefined" ng-include="'assets/html/scenario/content/scenario.content.html'"></div>
        </section>
    </main>

    </div>
</div>
<!-- /.container-fluid -->