#login.login-page-div{
	height: 100%;
    background-color: rgb(2, 84, 132);
}

#login .toast-logo{
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    width: 300px;
}

#login .login-box{
	width: 450px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -220px;
    text-align: center;
}

#login:has(> body){
    margin-top: -50px !important; 
}
