body{
    overflow: auto !important;
}

.toast-loading {
  text-align: center;
}

.toast-loading .toast-logo{
  width: 300px;
  height: 100px;
  margin-top: -100px;
}

footer {
    position: fixed;
    background-color: rgba(210, 210, 210, 0.35);
    padding: 1em 0;
    padding-left: 31px;
    padding-right: 31px;
    bottom: 0;
    height: 25px;
    line-height: 1px;
    text-align: center;
    bottom: 0;
    right: 0;
    width: 100%;
}

.container .effectContent{
  margin-top: 10px;
}

.editable-controls select{
  height: 40px !important;
}

.section-header{
  margin-top: 45px;
  padding: 10px;
  background-color: rgba(217, 230, 242, 0.85);
  margin-left: -15px;
  margin-right: -15px;
}

.section-header .title{
    font-size: large;
}

.side-header {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
  margin-left: -15px;
  margin-right: -15px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.action-item {
  background-color: #f2f2f2;
  -webkit-border-radius: 2px;
  border-radius: 10px;
  margin: 2px 2px 2px 2px;
  color: #464646;
  font-size: 14px;
  position: relative;
  padding: 3px 5px 3px 5px;
  -webkit-box-shadow: 1px 1px 0px 0px #fff;
  box-shadow: 1px 1px 0px 0px #fff;
  line-height: 14px;
}

.textntags-wrapper {
  position: relative;
  background: #fff;
}

.textntags-wrapper textarea {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: block;
  height: 18px;
  padding: 9px;
  margin: 0;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  overflow: hidden;
  background: transparent;
  outline: 0;
  resize: none;
  font-family: Arial;
  font-size: 13px;
  line-height: 17px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@-moz-document url-prefix() {
  .textntags-wrapper textarea{
    padding: 9px 8px;
  }
}


.wrap-word{
  word-wrap: break-word;
  white-space: normal;
}

.textntags-wrapper .textntags-tag-list {
  display: none;
  background: #fff;
  border: 1px solid #b2b2b2;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
  margin-top: -2px;

  border-radius:5px;
  border-top-right-radius:0;
  border-top-left-radius:0;

  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
     -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
}

.textntags-wrapper .textntags-tag-list ul {
    margin: 0;
    padding: 0;
}

.textntags-wrapper .textntags-tag-list li {
  background-color: #fff;
  padding: 0 5px;
  margin: 0;
  width: auto;
  border-bottom: 1px solid #eee;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  cursor: pointer;
  list-style: none;
  white-space: nowrap;
}

.textntags-wrapper .textntags-tag-list li:last-child {
  border-radius:5px;
}

.textntags-wrapper .textntags-tag-list li > img,
.textntags-wrapper .textntags-tag-list li > div.icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-top:5px;
  margin-right: 5px;
  -moz-background-origin:3px;

  border-radius:3px;
}

.textntags-wrapper .textntags-tag-list li em {
  font-weight: bold;
  font-style: none;
}

.textntags-wrapper .textntags-tag-list li:hover,
.textntags-wrapper .textntags-tag-list li.active {
  background-color: #f2f2f2;
}

.textntags-wrapper .textntags-tag-list li b {
  background: #ffff99;
  font-weight: normal;
}

.textntags-wrapper .textntags-beautifier {
  position: relative;
  padding: 10px;
  color: #fff;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.textntags-wrapper .textntags-beautifier > div {
  color: #fff;
  white-space: pre-wrap;
  width: 100%;
  font-family: Arial;
  font-size: 13px;
  line-height: 17px;
  min-height: 17px;
}

.textntags-wrapper .textntags-beautifier > div > strong {
  font-weight:normal;
  background: #d8dfea;
  line-height: 16px;
}

.textntags-wrapper .textntags-beautifier > div > strong > span {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.sentence button{
	position: relative;
	top: -36px;
	right: -40px;
	float: right;
}

.scenario {
  margin-bottom: 10px;
}

.scenario select {
  height: 29px;
}

.table-striped > tbody > tr:hover > td {
  background-color: #efefef;
}

/* Lib integration*/


.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-node div.title-no {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-node div.title {
  cursor: pointer;
/*  background: #f8faff;*/
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-node div.title:hover {
  background: #008cba;
  border: 1px solid #f8faff;
  color: white;
}

.control {
  top: 30px;
  position: relative;
}


/* BEGIN : bootstrap overriding */
.panel-default {
    /*border: none !important;*/
}
.panel-body {
    padding: 8px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #DDDDDD;
}

.list-striped>li:nth-child(odd), 
.list-striped>li:nth-child(odd) {
    background-color: #DDDDDD;
}

.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item{
  margin: 0; /*to override "row" class margin (to avoid horizontal scrollbar)*/
}

.navbar-inverse .dropdown-menu>li>a, .navbar-inverse .dropdown-menu>li>a:focus {
    background-color: #222;
    color: #fff;
}

/* END : bootstrap overriding */

/* Buttons */
.btn-danger1 {
    color: #FA3414;
    background-color: #F5E9E7;
    border-color: #F36E58;  
}

.btn-edit{
    color: #ffffff;
    background-color: #079140;
    border-color: #006C2D;
}

.btn-edit:hover{
    color: #ffffff;
    background-color: #006C2D;
    border-color: #333333;
}

.btn-edit1{
      color: #006C2D;
    background-color: #CFFFCF;
    border-color: #89AD98;
}

/* webix overriding */
.webix_tree_item.webix_selected {
    background: #ddd !important;
    color: #000;
}

/* angucomplete overriding*/

.angucomplete-dropdown {
    width: 100% !important;
  }
.angucomplete-selected-row {
     color: #000 !important; 
}

/* angular toastr */

.toast {
    margin-top: 8px !important;
}

#toast-container>div {
    padding: 6px 6px 6px 50px !important;
    width: 300px !important;
}



/* sb menu overriding*/
.side-nav>li>ul>li>a.collapsedSubmenu{
padding-top: 12px;
    padding-bottom: 12px;
    padding: 10px 15px;  
}

.side-nav>li>ul>li>a {
    color: #fff;
}

.side-nav>li>ul>li.active {
    outline: none;
    color: #ffffff;
    background-color: #006687 !important;
}

.side-nav>li>ul>li>a:focus {
    outline: none;
    color: #ffffff;
    background-color: #006687 !important;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fade {
    transition: all linear 600ms;
    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
}

.user-avatar{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px !important;
    margin: 7px;
    width: 39px;
    background-color: #f5d064;
    border: 1px solid #fff;
    border-radius: 50%;
    font-weight: 900;
}