
.container .effectContent{
  margin-top: 10px;
}

.editable-controls select{
  height: 40px !important;
}

.section-header{
  margin-top: 45px;
  padding: 10px;
  background-color: rgba(217, 230, 242, 0.85);
  margin-left: -15px;
  margin-right: -15px;
}

.section-header .title{
    font-size: large;
}

.side-header {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
  margin-left: -15px;
  margin-right: -15px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.action-item {
  background-color: #f2f2f2;
  -webkit-border-radius: 2px;
  border-radius: 10px;
  margin: 2px 2px 2px 2px;
  color: #464646;
  font-size: 14px;
  position: relative;
  padding: 3px 5px 3px 5px;
  -webkit-box-shadow: 1px 1px 0px 0px #fff;
  box-shadow: 1px 1px 0px 0px #fff;
  line-height: 14px;
}

.textntags-wrapper {
  position: relative;
  background: #fff;
}

.textntags-wrapper textarea {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: block;
  height: 18px;
  padding: 9px;
  margin: 0;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  overflow: hidden;
  background: transparent;
  outline: 0;
  resize: none;
  font-family: Arial;
  font-size: 13px;
  line-height: 17px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@-moz-document url-prefix() {
  .textntags-wrapper textarea{
    padding: 9px 8px;
  }
}


.wrap-word{
  word-wrap: break-word;
  white-space: normal;
}

.textntags-wrapper .textntags-tag-list {
  display: none;
  background: #fff;
  border: 1px solid #b2b2b2;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
  margin-top: -2px;

  border-radius:5px;
  border-top-right-radius:0;
  border-top-left-radius:0;

  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
     -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
}

.textntags-wrapper .textntags-tag-list ul {
    margin: 0;
    padding: 0;
}

.textntags-wrapper .textntags-tag-list li {
  background-color: #fff;
  padding: 0 5px;
  margin: 0;
  width: auto;
  border-bottom: 1px solid #eee;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  cursor: pointer;
  list-style: none;
  white-space: nowrap;
}

.textntags-wrapper .textntags-tag-list li:last-child {
  border-radius:5px;
}

.textntags-wrapper .textntags-tag-list li > img,
.textntags-wrapper .textntags-tag-list li > div.icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-top:5px;
  margin-right: 5px;
  -moz-background-origin:3px;

  border-radius:3px;
}

.textntags-wrapper .textntags-tag-list li em {
  font-weight: bold;
  font-style: none;
}

.textntags-wrapper .textntags-tag-list li:hover,
.textntags-wrapper .textntags-tag-list li.active {
  background-color: #f2f2f2;
}

.textntags-wrapper .textntags-tag-list li b {
  background: #ffff99;
  font-weight: normal;
}

.textntags-wrapper .textntags-beautifier {
  position: relative;
  padding: 10px;
  color: #fff;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.textntags-wrapper .textntags-beautifier > div {
  color: #fff;
  white-space: pre-wrap;
  width: 100%;
  font-family: Arial;
  font-size: 13px;
  line-height: 17px;
  min-height: 17px;
}

.textntags-wrapper .textntags-beautifier > div > strong {
  font-weight:normal;
  background: #d8dfea;
  line-height: 16px;
}

.textntags-wrapper .textntags-beautifier > div > strong > span {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.sentence button{
	position: relative;
	top: -36px;
	right: -40px;
	float: right;
}

.scenario {
  margin-bottom: 10px;
}

.scenario select {
  height: 29px;
}

.table-striped > tbody > tr:hover > td {
  background-color: #efefef;
}

.dictionnary-block {
  border: 1px solid black;
  border-radius: 5px; 
  padding: 5px;
  margin-bottom: 10px;
}

/* Lib integration*/


.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-node div.title-no {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-node div.title {
  cursor: pointer;
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-node div.title:hover {
  background: #008cba;
  border: 1px solid #f8faff;
  color: white;
}

.control {
  top: 30px;
  position: relative;
}


/* BEGIN : bootstrap overriding */
.panel-default {
    border: none !important;
}
.panel-body {
    padding: 8px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #DDDDDD;
}

.list-striped>li:nth-child(odd), 
.list-striped>li:nth-child(odd) {
    background-color: #DDDDDD;
}

.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item{
  margin: 0; /*to override "row" class margin (to avoid horizontal scrollbar)*/
}
/* END : bootstrap overriding */

/* webix overriding */
.webix_tree_item.webix_selected {
    background: #ddd !important;
    color: #000;
}