
.container .effectContent{
  margin-top: 10px;
}

.editable-controls select{
  height: 40px !important;
}

.section-header{
  margin-top: 45px;
  padding: 10px;
  background-color: rgba(217, 230, 242, 0.85);
  margin-left: -15px;
  margin-right: -15px;
}

.section-header .title{
    font-size: large;
}

.side-header {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
  margin-left: -15px;
  margin-right: -15px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.action-item {
  background-color: #f2f2f2;
  -webkit-border-radius: 2px;
  border-radius: 10px;
  margin: 2px 2px 2px 2px;
  color: #464646;
  font-size: 14px;
  position: relative;
  padding: 3px 5px 3px 5px;
  -webkit-box-shadow: 1px 1px 0px 0px #fff;
  box-shadow: 1px 1px 0px 0px #fff;
  line-height: 14px;
}

.textntags-wrapper {
  position: relative;
  background: #fff;
}

.textntags-wrapper textarea {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: block;
  height: 18px;
  padding: 9px;
  margin: 0;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  overflow: hidden;
  background: transparent;
  outline: 0;
  resize: none;
  font-family: Arial;
  font-size: 13px;
  line-height: 17px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@-moz-document url-prefix() {
  .textntags-wrapper textarea{
    padding: 9px 8px;
  }
}


.wrap-word{
  word-wrap: break-word;
  white-space: normal;
}

.textntags-wrapper .textntags-tag-list {
  display: none;
  background: #fff;
  border: 1px solid #b2b2b2;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
  margin-top: -2px;

  border-radius:5px;
  border-top-right-radius:0;
  border-top-left-radius:0;

  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
     -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
}

.textntags-wrapper .textntags-tag-list ul {
    margin: 0;
    padding: 0;
}

.textntags-wrapper .textntags-tag-list li {
  background-color: #fff;
  padding: 0 5px;
  margin: 0;
  width: auto;
  border-bottom: 1px solid #eee;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  cursor: pointer;
  list-style: none;
  white-space: nowrap;
}

.textntags-wrapper .textntags-tag-list li:last-child {
  border-radius:5px;
}

.textntags-wrapper .textntags-tag-list li > img,
.textntags-wrapper .textntags-tag-list li > div.icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-top:5px;
  margin-right: 5px;
  -moz-background-origin:3px;

  border-radius:3px;
}

.textntags-wrapper .textntags-tag-list li em {
  font-weight: bold;
  font-style: none;
}

.textntags-wrapper .textntags-tag-list li:hover,
.textntags-wrapper .textntags-tag-list li.active {
  background-color: #f2f2f2;
}

.textntags-wrapper .textntags-tag-list li b {
  background: #ffff99;
  font-weight: normal;
}

.textntags-wrapper .textntags-beautifier {
  position: relative;
  padding: 10px;
  color: #fff;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.textntags-wrapper .textntags-beautifier > div {
  color: #fff;
  white-space: pre-wrap;
  width: 100%;
  font-family: Arial;
  font-size: 13px;
  line-height: 17px;
  min-height: 17px;
}

.textntags-wrapper .textntags-beautifier > div > strong {
  font-weight:normal;
  background: #d8dfea;
  line-height: 16px;
}

.textntags-wrapper .textntags-beautifier > div > strong > span {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.sentence button{
	position: relative;
	top: -36px;
	right: -40px;
	float: right;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #DDDDDD;
}

.scenario {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.scenario select {
  height: 29px;
}

.table-striped > tbody > tr:hover > td {
  background-color: #efefef;
}

.dictionnary-block {
  border: 1px solid black;
  border-radius: 5px; 
  padding: 5px;
  margin-bottom: 10px;
}

/* Lib integration*/


.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-node div.title-no {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-node div.title {
  cursor: pointer;
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-node div.title:hover {
  background: #008cba;
  border: 1px solid #f8faff;
  color: white;
}

.control {
  top: 30px;
  position: relative;
}

/*Manually added */

/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
      /*  padding-left: 225px;*/
    }

    .wrapper {
        padding-left: 225px;
    }

    .wrapper-collapsed {
        padding-left: 60px;
    }

    #page-wrapper {
        padding: 10px;
            padding-left: 225px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 45px;
        left: 225px;
        width: 225px;
        margin-left: -225px !important;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }

     .side-nav-collapsed {
        left: 60px;
        width: 60px;
        margin-left: 60px !important;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav-collapsed>li>a {
        width: 60px;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}