html, body {  overflow: hidden; }

#resizable-content main {
    display: flex;
    height: 90%;
    padding-bottom: 10px;
    background: #fff;
}
#resizable-content .content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 7px;
}
#resizable-content section {
    /*background: #ddd;*/
    border: 7px solid #fff;
    flex: 1;
    min-width: 30px;
}
#resizable-content section.resizable {
    flex: 0 0 300px;
}