          <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
           <p><i class="fa fa-chevron-right fa-lg"></i>  New step: </p>
            <input ng-model="searchStr"
              ng-disabled="disableInput"
              type="text"
              placeholder="{{placeholder}}"
              ng-focus="onFocusHandler()"
              class="{{inputClass}}"
              ng-focus="resetHideResults()"
              ng-blur="hideResults($event)"
              autocapitalize="off"
              autocorrect="off"
              autocomplete="off"
              ng-change="inputChangeHandler(searchStr)"/>
            <div class="angucomplete-dropdown angu-step-drop {{inputClassItem}}" ng-show="showDropdown">
              <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
              <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
              <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
                <div ng-if="imageField" class="angucomplete-image-holder">
                  <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
                  <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
                </div>
                <div class="angucomplete-title" ng-if="matchClass">
                        <span ng-switch="result.description">
                            <i ng-switch-when="service"
                            class="fa fa-flash fa-lg"
                            tooltip="Service" tooltip-trigger="mouseenter" tooltip-placement="top"/>
                            <i ng-switch-when="swing"
                            class="fa fa-laptop fa-lg"
                            tooltip="Swing" tooltip-trigger="mouseenter" tooltip-placement="top"/>
                            <i ng-switch-when="web"
                            class="fa fa-tablet fa-lg"
                            tooltip="Web" tooltip-trigger="mouseenter" tooltip-placement="top"/>
                            <span class="fa-stack fa-lg" ng-switch-default
                            tooltip="{{result.description}}" tooltip-trigger="mouseenter" tooltip-placement="top">
                            <i class="fa fa-play fa-stack-lg"></i>
                            <i class="fa fa-ban fa-stack-lg text-danger"></i>
                        </span>

                
                <span ng-bind-html="result.title"></span>
                </div>
                <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
<!--                 <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
                <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div> -->
              </div>
              <div class="angucomplete-row angu-step-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
                <div class="angucomplete-title">Press enter to add an empty step</div>
              </div>
            </div>
          </div>