<div id="login" class="vertical-offset-100 login-page-div">
    <div ng-if="isEmailSent==false" class="row-fluid" style="padding:2%">
        <div class="col-md-6 col-sm-12 jumbotron" style="background-color: rgba(0, 0, 0, 0.05);">
            <div class="container">
                <img class="toast-logo center" src="assets/images/toast700w.png">
                <h3></h3>
                <div  ui-sref="login" ui-sref-opts="{reload: true}" class="alert-success btn btn-lg btn-block" role="alert">
                    Already registred! go to login!
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" >
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" name="newAccountForm" ng-submit="askForAccount(newaccount)" novalid>
                        <div class="info-message hidden"></div>
                        <h1>Ask for account</h1>
                        <hr>
                        <fieldset>
                            <div class="form-group">
                                <div>
                                
                                <label for="NewEmail" style="float: left; font-size: 18px;"
                                       ng-class="{'error-label' :(newAccountForm.NewEmail.$error.required || newAccountForm.NewEmail.$invalid) && newAccountForm.NewEmail.$touched}">
                                    Email*
                                </label>
                                <input type="email" ng-model="newaccount.email" name="NewEmail" id="NewEmail" class="form-control" tabindex="0" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="" placeholder="ex.,  email@toas-tk.io" required>
                            </div>
                            <br/>
                            <input id="signup" tabindex="0" type="submit" class="btn btn-lg btn-primary btn-block" value="Ask for some Toasts!">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div ng-if="isEmailSent==true" class="row-fluid">
        <div class="col-md-12 col-sm-12 jumbotron" style="background-color: rgba(0, 0, 0, 0.05);">
            <div class="container">
                <img class="toast-logo center" src="assets/images/toast700w.png">
                <h3 style="color: #fff; text-align: center; margin: 20px;">An E-mail has been sent to Toast administrator, check your email in the next 48 hours to get access to the app</h3>
                <div  ui-sref="login" ui-sref-opts="{reload: true}" class="alert-success btn btn-lg btn-block" role="alert">
                    Back to login
                </div>
            </div>
        </div>
    </div>

</div>