<div class="container">
  
  Welcome to redplay, {{user.firstName}} {{user.lastName}}!
  <br>
  <hr>
  
  <h1> Configuration <button class="btn" data-ng-click="saveConfig()">Save</button></h1>
  <div class="row">
  	<div class="col-md-12">
  		  Add a new <select ng-model="selectedConfigGroupType" data-ng-options="type for type in config_group_types"></select> configuration set
 		  <button class="btn btn-primary btn-xs" data-ng-click="addConfigBlock()">+</button>

  	</div>
  </div>
  
  <br>
  <div class="row">
  	<div class="col-md-6">
	  	<div ng-repeat="config in configurations">
	  		Type: <label>{{ config.type }}</label>
	  		<div ng-repeat="configLine in config.rows">
	  			<span>
	  				{{configLine.name}} of type {{configLine.type}} <a href="javascript:void(0);" data-ng-click="deleteConfigLine(config, configLine)">x</a> <a href="javascript:void(0);" data-ng-click="editConfigLine(configLine)">edit</a>
	  			</span>
	  		</div>
	  		<div>
				<span>
					<input type="text" ng-model="newConfig" placeholder="{{config.name}} name"/> 
					<!-- add an ng-show only if it's a service -->
					<select ng-model="selectedConfigType" data-ng-options="type for type in service_config_types"></select>
					<button class="btn btn-primary btn-xs" data-ng-click="addConfigLine(config, newConfig)">+</button>
				</span>
			</div>
	  	</div>
	  </div>
	  <div class="col-md-6">
	  	<h4> Sentences </h4>
	  	<div ng-repeat="syntax in selectedConfig.syntax">
  			<span>
  				{{syntax.sentence}} <a href="javascript:void(0);" data-ng-click="deleteSentenceLine(syntax, sentence)">x</a>
  			</span>
  			<hr>
	  	</div>
	  	<div ng-show="selectedConfig != undefined">
			<div class="row">
				<div class="col-md-10">
					<sentence on-add="addNewSentence(a,b)"></sentence> 
				</div>
			</div>
		</div>
	  </div>
  </div>
</div>