<div class="container">
  
  Welcome to redplay, {{user.firstName}} {{user.lastName}}!
  <br>
  <hr>
  
  <h1> Configuration <button class="btn" data-ng-click="saveConfig()">Save</button></h1>
  <div class="row">
  	<div class="col-md-12">
  		  Add a new <select ng-model="selectedConfigGroupType" data-ng-options="type for type in config_group_types"></select> configuration set
 		  <button class="btn btn-primary btn-xs" data-ng-click="addConfigBlock()">+</button>
  	</div>
  </div>
  
  <br>
  <div class="row">
  	<div class="col-md-6">
	  	<div ng-repeat="config in configurations">
	  		Type: <label>{{ config.type }}</label>
	  		<div ng-repeat="configLine in config.rows">
	  			<span>
	  				{{configLine.name}} of type {{configLine.type}} <a href="javascript:void(0);" data-ng-click="deleteConfigLine(config, configLine)">x</a> <a href="javascript:void(0);" data-ng-click="editConfigLine(configLine)">edit</a>
	  			</span>
	  		</div>
	  		<div>
				<span>
					<input type="text" ng-model="newConfig" placeholder="{{config.name}} name"/> 
					<!-- add an ng-show only if it's a service -->
					<select ng-model="selectedConfigType" data-ng-options="type for type in service_config_types"></select>
					<button class="btn btn-primary btn-xs" data-ng-click="addConfigLine(config, newConfig)">+</button>
				</span>
			</div>
	  	</div>
	  </div>
	  <div class="col-md-6">
	  	<h4> Sentences </h4>
	  	<div ng-repeat="syntax in selectedConfig.syntax">
  			<span>
  				{{syntax.sentence}} <a href="javascript:void(0);" data-ng-click="deleteSentenceLine(syntax, sentence)">x</a>
  			</span>
  			<hr>
	  	</div>
	  	<div ng-show="selectedConfig != undefined">
			<div class="row">
				<div class="col-md-10">
					<sentence on-add="addNewSentence(a,b)"></sentence> 
				</div>
			</div>
		</div>
	  </div>
  </div>
  
  <hr>
  
  <h1> Dictionnary blocks  <button class="btn" data-ng-click="saveAutoConfig()">Save</button></h1>
  <div class="row">
  	<div class="col-md-12">
  		  Add a new <select ng-model="selectedAutoSetupConfigType" ng-options="type for type in run_config_types"></select> auto setup 
 		  <button class="btn btn-primary btn-xs	" data-ng-click="addAutoSetupConfig()">+</button>
  	</div>
  </div>
  
  <br>
  <div>
  	<div ng-repeat="autosetup in autosetups">
  		Type: <label>{{ autosetup.type }}</label> Name: <input type="text" placeholder="name" ng-model="autosetup.name"/>
  		<table class="table" width="200px;">
  			<tr>
  				<td ng-repeat="c in autosetup.columns"></span>{{c.name}}</td>
  				<td></td>
  			</tr>
  			<tr ng-repeat="r in autosetup.rows">
  				<td ng-repeat="c in autosetup.columns">{{r[c.name]}}</td>
  				<td>
  					<button class="btn btn-xs" data-ng-click="">-</button>
  				</td>
  			</tr>
  			<tr ng-model="newAutoSetupRow">
  				<td ng-repeat="c in autosetup.columns">
  					<span ng-model="newAutoSetupRow[c.name]">
	  					<input type="text" ng-model="newAutoSetupRow[c.name]" style="width: 100%;" placeholder="{{c.name}}"/>
  					</span>
  				</td>
  				<td>
  					<button class="btn btn-primary btn-xs" data-ng-click="addAutoSetupRow(autosetup,newAutoSetupRow)">+</button>
  				</td>
  			</tr>
  		</table>
  	</div>
  </div>
  
  <hr>
  <h1> Run blocks  <button class="btn" data-ng-click="">Save</button></h1>
  <div class="row">
  	<div class="col-md-12">
  		  Add a new <select ng-model="selectedType" ng-options="type.name for type in scenario_types"></select> scenario
 		  <button class="btn btn-primary btn-xs" data-ng-click="add()">+</button>
  	</div>
  </div>
  
  <br>
  <div>
  	<div ng-repeat="scenario in scenarii">
  		Type: <label>{{ scenario.type }}</label>
  		<table class="table" width="200px;">
  			<tr>
  				<td ng-repeat="c in scenario.columns"></span>{{c.name}}</td>
  				<td></td>
  			</tr>
  			<tr ng-repeat="r in scenario.rows">
  				<td ng-repeat="c in scenario.columns" pattern pattern-value="{{r[c.name]}}" pattern-post="{{c.post}}" pattern-model="r" pattern-column="{{c.name}}"></td>
  				<td>
  					<button class="btn btn-xs" data-ng-click="deleteRow(scenario, r)">-</button>
  				</td>
  			</tr>
  			<tr ng-model="newRow">
  				<td ng-repeat="c in scenario.columns">
  					<span template ng-model="newRow[c.name]" template-value="{{c.reference}}" 
  						template-post="{{c.post}}" template-config-type="{{ scenario.type }}"
  						template-context="{{ scenario.driver }}">
	  					<input type="text" ng-model="newRow[c.name]" style="width: 100%;" placeholder="{{c.name}}"/>
  					</span>
  				</td>
  				<td>
  					<button class="btn btn-primary btn-xs" data-ng-click="addRow(scenario, newRow)">+</button>
  				</td>
  			</tr>
  		</table>
  	</div>
  </div>
</div>