
<link rel="stylesheet" media="screen" href="assets/stylesheets/default.css">
<link rel="stylesheet" media="screen" href="assets/stylesheets/component.css">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  		<div ng-include src="'assets/html/layout/topmenu.view.html'"></div>
  	</nav>

  	<div style="position: absolute; margin: auto; width: 100%; top: 20%;">
  		<div style="margin: 0 auto;text-align: center; ">
  			<a class="btn btn-5 btn-5a icon-cog" style="width: 500px;" ng-click="goToState('layout.settings')">
  				<span>Settings</span>
  			</a>
  		</div>
  		<div style="margin: 0 auto;text-align: center;">
  			<a class="btn btn-5 btn-5a icon-cart-2" style="width: 500px;" ng-click="goToState('layout.repository')">
  				<span>Object Repository</span>
  			</a>
  		</div>
  		<div style="margin: 0 auto;text-align: center;">
  			<a class="btn btn-5 btn-5a icon-file" style="width: 500px;" ng-click="goToState('layout.scenario')">
  				<span>Scenarii Edition</span>
  			</a>
  		</div>
  		<div style="margin: 0 auto;text-align: center;">
  			<a class="btn btn-5 btn-5a icon-envelope" style="width: 500px;"  ng-click="goToState('layout.campaign')">
  				<span>Test Campaign Reports</span>
  			</a>
  		</div>
  	</div>
</div>