    <div id="login" class="vertical-offset-100 login-page-div">
    	<div class="login-box fade" ng-hide="isHiddenLoginForm===true">
            <div>
                 <img class="toast-logo" src="assets/images/toast700w.png">
            </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    <input id="email" class="form-control" ng-model="credentials.login" placeholder="Username" name="email" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
                                    <input id="password"  class="form-control" ng-model="credentials.password" placeholder="Password" name="password" type="password" value="">
                                </div>
                            </div>
                            <input id="login_input" ng-click="login(credentials)" class="btn btn-lg btn-primary btn-block" type="button" value="Log In">
                        </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                    <div class="panel-body">
                        New to Toast ?
                        <div  class="btn-edit btn btn-lg btn-block" ng-click="isHiddenLoginForm=true" role="alert">
                            Ask for free account
                        </div>
                    </div>
            </div>
	    </div>
        <div ng-include="'assets/html/askforaccount.html'" ng-controller="AskForAccountCtrl" class="fade" ng-show="isHiddenLoginForm===true"></div>
</div>
