<div class="container">

	<br>
  	Toast Tk Webapp {{user.firstName}} {{user.lastName}}
  	<span class="pull-right"><a class="" href="http://10.106.184.115:8080/redpepper/app.jnlp" target="_blank">Open Swing Client</a></span>
 	<!-- <span class="pull-right"><a class="" ng-click="logout()">Log Out</button></span> -->
  	<br>
  	<br>

	<h1> Dictionnary blocks  <button class="btn" data-ng-click="saveAutoConfig()">Save</button></h1>
	<div class="row">
		<div class="col-md-12">
			Add a new <select ng-model="selectedAutoSetupConfigType" ng-options="type for type in run_config_types"></select> auto setup
			<button class="btn btn-primary btn-xs" data-ng-click="addAutoSetupConfig()">+</button>

			<span class="pull-right">
				Filter: <select ng-model="autoSetupConfigFilter" data-ng-options="type for type in run_config_types"></select>
			</span>
		</div>
	</div>

	<br>
	<div>
		<div ng-repeat="autosetup in autosetups | filter:autoSetupConfigFilter">
			Type: <label>{{ autosetup.type }}</label> Name: <input type="text" placeholder="name" ng-model="autosetup.name"/>
			<table class="table" width="200px;">
				<tr>
					<td ng-repeat="c in autosetup.columns">
						<span>{{c.name}}</span>
					</td>
					<td></td>
				</tr>
				<tr ng-repeat="r in autosetup.rows">
					<!--td ng-repeat="c in autosetup.columns">{{r[c.name]}}</td-->
					<td ng-repeat="c in autosetup.columns">
						<span ng-model="r[c.name]">
							<ng-switch on="isArray(c.descriptor.type)">
								<select ng-switch-when="array" ng-model="r[c.name]" ng-options="type for type in c.descriptor.type" style="width: 100%;" placeholder="{{c.name}}"/>
								<input ng-switch-default type="text" ng-model="r[c.name]" style="width: 100%;" placeholder="{{c.name}}"/>
							</ng-switch>
						</span>
					</td>
					<td>
						<button class="btn btn-xs" data-ng-click="deleteRow(r,autosetup)">-</button>
					</td>
				</tr>
				<tr ng-model="newAutoSetupRow">
					<td ng-repeat="c in autosetup.columns">
						<span ng-model="newAutoSetupRow[c.name]">
							<ng-switch on="isArray(c.descriptor.type)">
								<select ng-switch-when="array" ng-model="newAutoSetupRow[c.name]" ng-options="type for type in c.descriptor.type" style="width: 100%;" placeholder="{{c.name}}"/>
								<input ng-switch-default type="text" ng-model="newAutoSetupRow[c.name]" style="width: 100%;" placeholder="{{c.name}}"/>
							</ng-switch>
						</span>
					</td>
					<td>
						<button class="btn btn-primary btn-xs" data-ng-click="addAutoSetupRow(autosetup,newAutoSetupRow)">+</button>
					</td>
				</tr>
			</table>
		</div>
	</div>

</div>