<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Toast Tk</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li><a href="#/main">Home</a></li>
		<li><a href="#/configuration">Settings</a></li>
		<li><a href="#/repository">Object Repository</a></li>
		<li><a href="#/scenario">Scenarii Edition</a></li>
		<li><a href="#/project">Test Campaign Reports</a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li>
			<a class="" ng-href="{{jnlpHost}}" target="_blank"><i class="glyphicon glyphicon-download-alt"/>&nbsp;Download Toast Studio</a>
		</li>
	  </ul>
	</div>
  </div>
</nav>
<div class="container" tk-slider>
    <div class="section-header">
        <div class="row">
            <div class="col-md-6">
                <span class="title">Object Repository</span>
                <button type="button" id="" class="btn btn-default btn-xs hide slide-in-button">
                    >>
                </button>
            </div>
            <div class="col-md-6 pull-right">
                <div class="pull-right">
				Add a new <select ng-model="selectedAutoSetupConfigType" ng-options="type for type in run_config_types"></select> object
				<button class="btn btn-primary btn-xs" data-ng-click="addAutoSetupConfig()">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="autosetups.length == 0">

    </div>
	<div class="row" ng-if="autosetups.length > 0" tk-slider>
		<div class="col-md-3 effectSideBar">
            <div class="side-header">
                Filter: <select ng-model="autoSetupConfigFilter" data-ng-options="type for type in run_config_types"></select>
                <button type="button" class="btn btn-default btn-xs slide-out-button">
                    <<
                </button> 
            </div>
			<div ui-tree data-drag-enabled="false">
			  <ol ui-tree-nodes="" ng-model="autosetups">
			    <li ng-repeat="autosetup in autosetups | filter:autoSetupConfigFilter" ui-tree-node>
			      <div class="title row" ng-click="editRepositoryObject(autosetup)">
			     	 <div class="col-md-9 wrap-word">
                        {{autosetup.name}}
                    </div>
			        <a class="pull-right btn btn-primary btn-xs" data-nodrag="" ng-click="deleteObject(autosetup)">
                    	<span class="glyphicon glyphicon-remove"></span>
                  	</a>
			      </div>
			    </li>
			  </ol>
			</div>
		</div>
		<div class="col-md-9 effectContent">
			<div class="dictionnary-block" ng-show="autosetup != undefined">
				Type: <label>{{ autosetup.type }}</label> Name: <input type="text" placeholder="name" ng-model="autosetup.name"/>
				<button class="btn btn-mini pull-right" data-ng-click="saveAutoConfigBlock(autosetup)">Save</button>
				<table class="table" width="200px;">
					<tr>
						<td ng-repeat="c in autosetup.columns">
							<span>{{c.name}}</span>
						</td>
						<td>
							
						</td>
					</tr>
					<tr ng-repeat="r in autosetup.rows">
						<td ng-repeat="c in autosetup.columns">
							<span ng-model="r[c.name]">
								<ng-switch on="isArray(c.descriptor.type)">
									<select ng-switch-when="array" ng-model="r[c.name]" ng-options="type for type in c.descriptor.type" style="width: 100%;" placeholder="{{c.name}}"/>
									<input ng-switch-default type="text" ng-model="r[c.name]" style="width: 100%;" placeholder="{{c.name}}"/>
								</ng-switch>
							</span>
						</td>
						<td>
							<button class="btn btn-xs" data-ng-click="deleteRow(r,autosetup)">-</button>
						</td>
					</tr>
					<tr ng-model="newAutoSetupRow">
						<td ng-repeat="c in autosetup.columns">
							<span ng-model="newAutoSetupRow[c.name]">
								<ng-switch on="isArray(c.descriptor.type)">
									<select ng-switch-when="array" ng-model="newAutoSetupRow[c.name]" ng-options="type for type in c.descriptor.type" style="width: 100%;" placeholder="{{c.name}}"/>
									<input ng-switch-default type="text" ng-model="newAutoSetupRow[c.name]" style="width: 100%;" placeholder="{{c.name}}"/>
								</ng-switch>
							</span>
						</td>
						<td>
							<button class="btn btn-primary btn-xs" data-ng-click="addAutoSetupRow(autosetup,newAutoSetupRow)">+</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>