<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<ul id="side-nav" class="nav navbar-nav side-nav" ng-class="{'side-nav-collapsed': isCollapsed === true}">
    <!-- <li>
        <a href="#/main"><i class="fa fa-fw fa-home fa-lg" ng-class="{'fa-2x': isCollapsed === true}"></i> <span  ng-if="isCollapsed===false">Home</span></a>
    </li> -->
     <li ui-sref-active="active">
        <a ui-sref="layout.scenario">
            <i class="fa fa-fw fa-pencil-square-o fa-lg" ng-class="{'fa-2x': isCollapsed === true}"></i>
            <span  ng-if="isCollapsed===false">Scenarios</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="layout.repository">
            <i class="fa fa-fw fa-archive fa-lg" ng-class="{'fa-2x': isCollapsed === true}"></i>
            <span  ng-if="isCollapsed===false">Repository</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="layout.campaign">
            <i class="fa fa-fw fa-terminal fa-lg" ng-class="{'fa-2x': isCollapsed === true}"></i>
            <span  ng-if="isCollapsed===false">Reports</span>
        </a>
    </li>
    <li style="position: fixed; bottom: 0;">
        <a ng-click="collapse()">
        <i  ng-if="isCollapsed===false" style="width: 100%;" class="btn fa fa-lg fa-chevron-circle-left" ng-class="{'fa-2x': isCollapsed === true}"></i>
        <i  ng-if="isCollapsed===true" class="fa fa-lg fa-chevron-circle-right" ng-class="{'fa-2x': isCollapsed === true}"></i>
        </a>
    </li>
    <li ui-sref-active="active" style="position: fixed; bottom: 50px;" ng-if="user.isAdmin === true">
        <a ui-sref="adminLayout">
            <i class="fa fa-fw fa-gear fa-lg" ng-class="{'fa-2x': isCollapsed === true}"></i>
            <span ng-if="isCollapsed===false">Administration</span>
        </a>
    </li>
</ul>
<!-- /.navbar-collapse -->