		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">
				<i class="{{ICONS[newNodeType]}} fa-fw"></i> New {{newNodeType}}</h4>
			</div>
			<div class="modal-body">
				<div class="content-fluid row">
					<div ng-if="newNodeType === 'settings'" class="col-md-3">
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%;">
							<i class="{{ICONS[scenarioTypeDropdownLabel]}} fa-fw"></i>
							{{scenarioTypeDropdownLabel}}
							
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li>
							<a ng-click="swapToType('swing')">
									<i class="{{ICONS['swing']}} fa-fw"></i> swing
								</a>
							</li>
							<li>
								<a ng-click="swapToType('web')">
									<i class="{{ICONS['web']}} fa-fw"></i> web
								</a>
							</li>
							<li>
								<a ng-click="swapToType('service')">
									<i class="{{ICONS['service']}}  fa-fw"></i> service
								</a>
							</li>
						</ul>
					</div>
					<div ng-class="{'Col-md-9' : newNodeType === 'settings', 'Col-md-12' : newNodeType === 'settings set'}">
						<input type="text" class="form-control" ng-model="scenarioName" id="ScenarioName" placeholder="Type {{newNodeType}} name here ..">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"  ng-click="closeModal()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="createNewNode()">Create</button>
			</div>
		</div><!-- /.modal-content -->
