@()
<!DOCTYPE html>
<html>
  <head>
    <title>Toast Tk Webapp</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ngProgress.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.yeti.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script data-main="@routes.Assets.at("javascripts/main.js")" type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.js"))")">
    </script>
  </head>
  <body>
  	<!--angular js way-->
  	<ng-view></ng-view>
  </body>
  </html>