<!-- .@()
<!DOCTYPE html> -->
<html>
  <head>
    <title>Toast Tk Webapp 2</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ngProgress.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.yeti.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/angular-ui-tree.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/xeditable.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sb-admin.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/webix.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/angular-toastr.min.css")">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/angucomplete-alt/angucomplete-alt.css")">
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/repository.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <script data-main="@routes.Assets.at("javascripts/main.js")" 
            type="text/javascript" 
            src="@routes.Assets.at("lib/requirejs/require.js")">
    </script>
  </head>
  <body>
     <div ui-view="main"></div>
  </body>
  </html>